<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IQRuleValidationManager IQRuleValidationManager.podspec IQRuleValidationManager.xcodeproj IQRuleValidationManagerTests IQRuleValidationManagerUniver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IQRuleValidationManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IQRuleValidationManagerUniversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF4716A31E53FC8B00C560B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF4716AC1E53FC8C00C560B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF4716D71E53FCFA00C560B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF4717141E53FFFA00C560B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
